.tv-dropzone{
    border: 2px dashed #ddd;
    padding: 20px 15px;
    -webkit-transition: border-color .3s;
    transition: border-color .3s;
}

.tv-dropzone:hover{
    border-color: #3697cd;
}

.tv-dropzone .dz-preview{
    padding: 10px 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
}

.tv-dropzone .dz-preview + .dz-preview{
    border-top: 1px solid #ddd;
}

.tv-dropzone .dz-preview .dz-image{
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
    overflow: hidden;
    position: relative;
}

.tv-dropzone .dz-image img{
    width: 30px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.tv-dropzone .dz-details{
    width: 85%;
    display: flex;
    flex-wrap: nowrap;
}

.tv-dropzone .dz-details .dz-size{
    order: 2;
    width: 50px;
    font-size: 11px;
}

.tv-dropzone .dz-filename{
    font-size: 12px;
    width: 100%;
}
.tv-dropzone .dz-success-mark{
    display: none;
}

.tv-dropzone .dz-error-mark{
    display: none;
}

.tv-dropzone .dz-remove{
    font-size: 0;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    color: #666666;
    display: inline-block;
    margin-left: auto;
}

.tv-dropzone .dz-remove::after{
    content: '×';
    font-size: 24px;
    display: inline-block;
    line-height: 1;
}

.tv-dropzone .dz-message{
    text-align: center;
    cursor: pointer;
    padding: 20px;
}

.tv-dropzone.dz-started .dz-message{
    display: none !important;
}


.tv-dropzone .dz-preview.dz-processing .dz-progress {
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.tv-dropzone .dz-preview.dz-complete .dz-progress {
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -o-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
}

.tv-dropzone .dz-preview:not(.dz-processing) .dz-progress {
    -webkit-animation: setwidth 6s ease infinite;
    -moz-animation: setwidth 6s ease infinite;
    -ms-animation: setwidth 6s ease infinite;
    -o-animation: setwidth 6s ease infinite;
    animation: setwidth 6s ease infinite;
}

.tv-dropzone .dz-preview .dz-progress {
    opacity: 1;
    z-index: 1000;
    pointer-events: none;
    position: absolute;
    height: 10px;
    left: 50%;
    top: 50%;
    margin-top: -5px;
    width: 100%;
    max-width: 200px;
    background: #3697cd;
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    border-radius: 2px;
    overflow: hidden;
}



@keyframes setwidth {
    0% {
        width: 0;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}