.tv-dropzone{
    border: 2px dashed #ddd;
    padding: 15px;
}

.tv-dropzone .dz-preview .dz-image{
    border-radius: 5px;
}

.tv-dropzone .dz-filename{
    font-size: 10px;
}

.tv-dropzone .dz-preview .dz-details .dz-size{
    font-size: 13px;
}